.env
node_modules
*.sqlite
.DS_Store
serverless-deploy/env.yml
serverless-deploy/serverless.yml
serverless-deploy/*.json
serverless-deploy/*.js
serverless-deploy/app
serverless-deploy/node_modules
serverless-deploy/.serverless

*.log
coverage
